<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Heart
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Teeth
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Body
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eye">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Human Eye
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="humanbody">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Human Digestion Body
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="heartanatomy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Human Heart Anatomy
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="brainanatomy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Human Brain Anatomy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lungsanatomy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Human Lungs Anatomy
            </NavLink>
        </div>
    </nav>
</div>
